@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 275 30% 99%;
    --foreground: 275 20% 10%;
    --card: 275 30% 99%;
    --card-foreground: 275 20% 10%;
    --popover: 275 30% 99%;
    --popover-foreground: 275 20% 10%;
    --primary: 276 100% 50%;
    --primary-foreground: 276 100% 98%;
    --secondary: 39 100% 50%;
    --secondary-foreground: 39 100% 10%;
    --muted: 275 20% 94%;
    --muted-foreground: 275 20% 40%;
    --accent: 120 100% 25%;
    --accent-foreground: 120 100% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 90%;
    --input: 275 20% 92%;
    --ring: 0 100% 50%;
    --radius: 0.5rem;
    --chart-1: 39 100% 50%;
    --chart-2: 120 100% 25%;
    --chart-3: 240 100% 50%;
    --chart-4: 276 100% 50%;
    --chart-5: 0 100% 50%;
  }

  .dark {
    --background: 275 20% 5%;
    --foreground: 275 20% 95%;
    --card: 275 20% 7%;
    --card-foreground: 275 20% 95%;
    --popover: 275 20% 5%;
    --popover-foreground: 275 20% 95%;
    --primary: 276 80% 80%;
    --primary-foreground: 276 100% 10%;
    --secondary: 39 80% 60%;
    --secondary-foreground: 39 100% 10%;
    --muted: 275 20% 12%;
    --muted-foreground: 275 20% 60%;
    --accent: 120 40% 40%;
    --accent-foreground: 120 40% 98%;
    --destructive: 0 62% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 15%;
    --input: 275 20% 17%;
    --ring: 0 100% 50%;
    --chart-1: 39 80% 60%;
    --chart-2: 120 40% 40%;
    --chart-3: 240 80% 70%;
    --chart-4: 276 80% 80%;
    --chart-5: 0 80% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
